= vertical_form member, url: users_team_member_path(member.team) do |f|
  = f.input :role, options_for_member_role(f)
  = f.input :notes, input_html: { cols: nil, rows: 5}
  = f.button :submit, 'Update'
  = link_to('Cancel', [:users, member.team], class: 'btn')
