.panel.panel-default
  .panel-heading
    = controls do |c|
      - c << edit_button

    %h3 Email #{@email_name.name}

  .panel-body
    = render @email_name

    %h3 Used by #{pluralize(@email_name.events.size, 'event')}
    = render 'events', events: @email_name.events
