.block
  .content
    = controls do |c|
      - add_button_to(c, :edit)
      - add_button_to(c, :delete)

    %h2 #{email_name.name} Template

    = render 'email_name', email_name: email_name

  .content
    %h2

    - if email_name.events.size > 0
      %h3 Used by #{pluralize(email_name.events.size, 'event')}
      = render 'events', :events => email_name.events
    - else
      %h3 Not used by any events.
