- registrations.each do |r|
  = link_to(office_registration_path(r), class: 'list-group-item') do
    %p
      %span.size-h4= r.full_name
      %span.pull-right= local_currency r.cost
    %p
      %span= r.registration_code
      %span= r.bank_account_name
      %span= r.iban
      %span= r.bic