- scope = event.registrations.approved.by_first_name
.table-responsive
  %table.table.table-striped
    %caption
      %h4= pluralize(scope.size, "#{Registration::APPROVED} Registration")
    %thead
      %tr
        %th Da?
        %th Nbrs
        %th.name Name
        %th BJ
        %th SD
        %th SS
        %th Pay.Meth.
        %th Payments
        %th.notes Notes
    %tbody
      - count = 0
      - yes= "✓"
      - scope.each do |r|
        %tr
          %td &nbsp;
          %td= count=count+1
          %td.name= r.full_name
          %td= checkmark_if(r.backjack_rental)
          %td= checkmark_if(r.sunday_meal)
          %td= checkmark_if(r.sunday_stayover)
          %td= r.payment_method
          %td &nbsp;
          %td.notes &nbsp;