.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th.name Name
        %th Gender
        %th How Hear
        %th Prev. Event
        %th Highest Level:
        %th Where
        %th When
    %tbody
      - registrations.by_first_name.each do |r|
        %tr
          %td.name= link_to(r.full_name, office_registration_path(r))
          %td.center= r.gender.first
          %td= r.how_hear
          %td= r.previous_event
          %td= r.highest_level
          %td= r.highest_location
          %td= r.highest_date