%table.table.table-toggler
  %thead
    %tr
      %th.name Name
      %th Not Completed
      %th Completed
      %th= link_to('Toggle All', completed_office_event_path(@event), class: 'btn btn-warning', method: :post)
  %tbody
    - registrations.by_first_name.each do |r|
      %tr
        %td.name= r.full_name
        = content_tag(:td, '', r.completed? ? {} : {class: 'red'})
        = content_tag(:td, '', r.completed? ? {class: 'green'} : {})
        %td= link_to('Toggle', completed_office_registration_path(r), class: 'btn btn-default btn-sm', method: :post)