- r = event.registrations
.row
  .col-xs-12
    = render 'gender_statistic', label: 'Total Approved', scope: r.approved
    = render 'gender_statistic', label: 'Approved Participants', scope: r.participants
    = render 'gender_statistic', label: 'Pending Participants', scope: r.pending.where_role(Registration::PARTICIPANT)
    = render 'gender_statistic', label: 'Wait Listed Participants', scope: r.waitlisted.where_role(Registration::PARTICIPANT)
    = render 'gender_statistic', label: 'Approved Team', scope: r.team

    .clearfix
    = render 'statistic', label: 'Backjack Rentals', count: r.approved.backjack_rentals.count
    = render 'statistic', label: 'Sunday Stayovers', count: r.approved.sunday_stayovers.count
    = render 'statistic', label: 'Sunday Meals', count: r.approved.sunday_meals.count
    = render 'statistic', label: 'Special Diets', count: r.approved.special_diets.count