%table.table.table-striped
  %thead
    %tr
      %th Img
      %th Name
      %th Email
      %th Address
      %th Phones
  %tbody
    - registrations.each do |r|
      %tr
        %td= gravatar_image(r.angel.gravatar) if r.angel
        %td= link_to_show(office_registration_path(r), r.full_name)
        %td= r.email
        %td= simple_format(compact_address(r))
        %td= simple_format(compact_phones(r), {}, sanitize: false)
