%tr
  %td{ :colspan => 3}
    %strong= role

- registrations.by_first_name.each do |r|
  %tr
    %td
      #{r.full_name}
      %br
      #{r.email}
    %td= simple_format(compact_address(r))
    %td= simple_format(compact_phones(r), {}, sanitize: false)