- registrations.each do |r|
  = link_to(office_registration_path(r), class: 'list-group-item') do
    %p
      %span.size-h4= r.full_name
      %span.pull-right
        %span= label_state(r.gender, true)
        %span= label_state("Diet: #{r.special_diet}", true) if r.special_diet.present?
        %span= label_state("Lift: #{r.lift}", true) if r.lift.present?
        %span= label_state('Backjack', true) if r.backjack_rental
        %span= label_state('Sunday Stayover', true) if r.sunday_stayover
        %span= label_state('Sunday Meal', true) if r.sunday_meal
        %span= label_state("Room: #{r.room}", true) if r.room.present?
    - if r.notes.present?
      %p= r.notes