- registrations.each do |r|
  = link_to(office_registration_path(r), class: 'list-group-item') do
    %p
      %span.size-h4= r.full_name
      %span.pull-right= r.gender.first
    %p
      %span= label_state('Clothing Conversation', r.clothing_conversation)
      %span= label_state('Reg Fee Paid', r.reg_fee_received)
      %span= label_state('Checked In', r.checked_in?)
      %span= label_state('Completed', r.completed?)