- regs = registrations
%table.roster
  %thead
    %tr.person
      %th.name Name & Email
      %th.address= t('enums.registration.roster.address')
      %th.phone= t('enums.registration.roster.phones')
  %tbody
    - if regs.participants.size > 0
      = render 'role', :role => t('enums.registration.roster.participant'), :regs => regs.participants
    - if regs.team.size > 0
      = render 'role', :role => t('enums.registration.roster.team'), :regs => regs.team
    - if regs.facilitators.size > 0
      = render 'role', :role => t('enums.registration.roster.facilitator'), :regs => regs.facilitators
