%tr.rolerow
  %td.role{ :colspan => 3}= role

- regs.by_first_name.each do |r|
  %tr.person
    %td.name
      #{r.full_name}
      %br
      #{r.email}
    %td.address= compact_address(r.angel)
    %td.phone= compact_phones(r.angel)
