.block
  = block_navigation(post_event_navigation)

  .content
    = controls do |c|
      - add_button_to(c, "VCards", params.merge(:format => :vcard, :icon => 'vcard', :controller => '/office/registrations', :action => :index))
      - add_button_to(c, "XLS", params.merge(:format => :xls, :icon => 'page_excel', :controller => '/office/registrations', :action => :index))

    %h2= parent.display_name

    .inner

      #post_event
        = render 'registrations', :registrations => registrations

  = block_footer(registration_submodule_breadcrumbs << ['Post Event'])
