= r.inputs do
  = r.input :event, options_for_public_signup_events_select(r)

  = r.semantic_fields_for :angel do |a|
    = a.input :first_name,  :input_html => {:size => 20}
    = a.input :last_name,   :input_html => {:size => 20}
    .instructions= _('public_signup.form.gender')
    = a.input :gender, options_for_gender(a)
    = a.input :email,   :input_html => {:size => 30}
    = a.input :address,   :input_html => {:size => 30}
    = a.input :postal_code,  :input_html => {:size => 10}
    = a.input :city,   :input_html => {:size => 20}
    = a.input :country, options_for_country(a)
    = a.input :home_phone,  :input_html => {:size => 20}
    = a.input :mobile_phone,  :input_html => {:size => 20}
    = a.input :work_phone,  :input_html => {:size => 20}

  .instructions= _('public_signup.form.workshop_information')
  = r.input :special_diet, options_for_special_diet(r)
  = r.input :backjack_rental, options_for_backjack_rental(r)
  = r.input :sunday_choice, options_for_sunday_choice(r)
  = r.input :lift, options_for_lift(r)

- if language?(:de)
  = r.inputs do
    .instructions= _('public_signup.form.payment')
    = r.input :payment_method, options_for_payment_method(r)

  #post
    .instructions= _('public_signup.form.payment_by_post')

  = r.inputs :id => 'internet' do
    = r.input :bank_account_name,  :input_html => {:size => 30}
    = r.input :bank_account_nr,  :input_html => {:size => 20}
    = r.input :bank_name,  :input_html => {:size => 50}
    = r.input :bank_sort_code,  :input_html => {:size => 20}

= r.inputs do
  .instructions= _('public_signup.form.note')
  = r.input :notes, options_for_note(r)

- content_for :javascript do
  = javascript_include_tag "public_signup"
