- regs = registrations
#registration-counts
  .highlights
    .count
      %h2 Participants
      .clear
      %h1= regs.participants.count
    .count
      %h2 Team
      .clear
      %h1= regs.team.count

  %table
    %thead
      %tr
        %th.boldvline Total
        %th.boldvline{:colspan => "2"} Participants
        %th.boldvline{:colspan => "2"} Team
        %th.boldvline{:colspan => "2"} Requests
        %th{:colspan => "2"} Sunday
      %tr
        %th.boldvline
        %th Males
        %th.boldvline Females
        %th Males
        %th.boldvline Females
        %th Vegetarian
        %th.boldvline Backjacks
        %th Stayovers
        %th Meals
    %tbody
      %tr
        %td.boldvline= regs.count
        %td= regs.participants.males.count
        %td.boldvline= regs.participants.females.count
        %td= regs.team.males.count
        %td.boldvline= regs.team.females.count
        %td= regs.special_diets.count
        %td.boldvline= regs.backjack_rentals.count
        %td= regs.sunday_stayovers.count
        %td= regs.sunday_meals.count
.wat-cf
