%table.table.table-key-values
  %caption
    %h6 Event Information
  %tbody
    %tr
      %th Display Name
      %td= event.display_name
    %tr
      %th Category
      %td= event.category
    %tr
      %th Start Date
      %td= l(event.start_date)
    %tr
      %th Level
      %td= event.level
    %tr
      %th Next Registration Code
      %td= event.next_registration_code
    %tr
      %th Participant Cost
      %td= local_currency event.participant_cost
    %tr
      %th Team Cost
      %td= local_currency event.team_cost