%table.table.table-key-values
  %caption
    %h6 Event Information
  %tbody
    %tr
      %th Display Name
      %td= event.display_name
    %tr
      %th Category
      %td= event.category
    %tr
      %th Start Date
      %td= l(event.start_date)
    %tr
      %th Level
      %td= event.level
    %tr
      %th Next Registration Code
      %td= event.next_registration_code
    %tr
      %th Participant Cost
      %td= event.participant_cost
    %tr
      %th Team Cost
      %td= event.team_cost

- categories = EventEmail::CATEGORIES.select {|category| event.find_event_email(category) }
- if categories.any?
  %h6 Event Email Templates
  .tabbable
    %ul.nav.nav-tabs
      - categories.each_with_index do |category, index|
        %li{class: index == 0 ? 'active' : ""}= link_to(category, "##{category}", data: {toggle: 'tab'})
    .tab-content
      - categories.each_with_index do |category, index|
        .tab-pane{id: category, class: index == 0 ? 'active' : ""}
          - event_email = event.find_event_email(category)
          = render event_email.email_name if event_email && event_email.email_name
