%table.table.table-key-values
  %tbody
    %tr
      %th Display Name
      %td= event.display_name
    %tr
      %th Category
      %td= event.category
    %tr
      %th Start Date
      %td= l(event.start_date)
    %tr
      %th Level
      %td= event.level
    %tr
      %th Next Registration Code
      %td= event.next_registration_code
    %tr
      %th Participant Cost
      %td= local_currency event.participant_cost
    %tr
      %th Team Cost
      %td= local_currency event.team_cost
    - EventEmail::CATEGORIES.each do |category|
      - event_email = event.find_event_email(category)
      - if event_email && event_email.email_name
        %tr
          %th= category
          %td= link_to(event_email.email_name.name, [:office, event_email.email_name])
