%table.table.table-striped
  %caption
    %h3= caption
  %thead
    %tr
      %th= sort_link @search, :display_name, 'Name'
      %th= sort_link @search, :start_date
      %th= sort_link @search, :next_registration_code, 'Reg Code'
      %th= sort_link @search, :participant_cost, 'Part. cost'
      %th= sort_link @search, :team_cost
      %th.qty Total
      %th.qty Participants
      %th.qty Team
      %th
  %tbody
    - events.each do |e|
      %tr
        %td= link_to_show(office_event_path(e), e.display_name)
        %td= l e.start_date
        %td.qty= e.next_registration_code
        %td.qty= local_currency e.participant_cost
        %td.qty= local_currency e.team_cost
        %td.qty= e.registrations.ok.count
        %td.qty= e.registrations.ok.participants.count
        %td.qty= e.registrations.ok.team.count
        %td= link_to(icon('icon-user') + "Registrations", status_office_event_report_path(e))

= render 'filter'

= render 'office/shared/table_options', :table => events
