= simple_form_for([:office, event], html: {class: 'form form-horizontal'}) do |f|
  = f.input :display_name
  = f.input :start_date, :as => :string, input_html: {class: 'date-pick'}, :format => '%d.%m.%Y'
  = f.input :category, options_for_event_categories(f)
  = f.input :level
  = input_for_event_email(f, EventEmail::SIGNUP)
  = input_for_event_email(f, EventEmail::PENDING)
  = input_for_event_email(f, EventEmail::APPROVED)
  .form-actions
    = f.button :submit, class: 'btn-primary'
