%table.table.color_dots
  %thead
    %tr
      %th.name Name
      %th Notes
      - if event.start_date.past?
        %th.center= "Checked&nbsp;In".html_safe
        %th.center Completed
      - elsif Site.uk?
        %th.center Clothing Optional Talk
        %th.center Reg Fee Paid
  %tbody
    - registrations.each do |r|
      %tr{:class => cycle(:odd, :even)}
        %td.name= link_to(r.full_name, [:office, r.angel])
        %td= r.notes
        - if event.start_date.past?
          %td.center= color_dot(r.checked_in?)
          %td.center= color_dot(r.completed?)
        - elsif Site.uk?
          %td.center= color_dot(r.clothing_conversation?)
          %td.center= color_dot(r.reg_fee_received?)
.wat-cf
