.block
  = block_navigation([['Future Events', :index],['Past Events', :past]])

  .content
    = controls do |c|
      - add_button_to(c, 'Add event')

    %h2= pluralize(events.count, 'event')

    .inner
      = render 'events', :events => events

  = block_footer(event_breadcrumbs)
