.block
  .content
    = controls do |c|
      - add_button_to(c, :edit)
      - add_button_to(c, :delete)

    %h2 #{event.display_name}

    = render 'event', :event => event

    - if event.audits.any?
      = render 'office/shared/audits', :audits => event.audits.descending

    = controls do |c|
      - c << link_to(icon('icon-user') + "Registrations", status_office_event_report_path(event), class: 'btn')

    = render 'office/registrations/counts', :registrations => registrations
