%table.checklist
  %caption= "#{event.display_name} CheckList"
  %thead
    %tr.person
      %th.checkin Da?
      %th.count Nbrs
      %th.name Name
      %th.backjack BJ
      %th.sundaydinner SD
      %th.sundaystayover SS
      %th.paymentmethod Pay.Meth.
      %th.payments Payments
      %th.notes Notes
  %tbody
    - count = 0
    - yes= "✓"
    - registrations.by_first_name.each do |r|
      %tr.person
        %td.checkin &nbsp;
        %td.count= count=count+1
        %td.name= r.full_name
        %td.backjack= checkmark_if(r.backjack_rental)
        %td.sundaydinner= checkmark_if(r.sunday_meal)
        %td.sundaystayover= checkmark_if(r.sunday_stayover)
        %td.paymentmethod= r.payment_method
        %td.payments &nbsp;
        %td.notes &nbsp;
.footer
  Created at #{Time.now}
