.block
  = block_navigation(pre_event_navigation)

  .content
    = controls do |c|
      - add_button_to(c, "Print checklist", :format => :pdf)

    %h2
      Checklist for #{event.display_name}

    .inner
      = render "registrations", :registrations => registrations

  = block_footer(registration_breadcrumbs)
= debug(controller.controller_name)
= debug(controller.action_name)
