= vertical_form([:office, @team, @member]) do |f|
  = f.input :membership_id, as: :hidden
  = f.input :role, options_for_member_role(f)
  = f.input :notes, input_html: { cols: nil, rows: 5}
  = f.button :submit
