- member = member.decorate
%tr.team-member
  %td.created-at= member.created_at
  %td.name
    = link_to(member.full_name, [:edit, :office, member.team, member])
    - if member.summary
      %br
      %span.summary= member.summary
  %td= member.gender
  %td= member.most_recent_on_team_date
  %td= member.hai_workshops_on_team_count
  %td= member.role
  %td.highest-level= member.highest_level