- member = member.decorate
= link_to([:edit, :office, member.team, member], class: 'list-group-item') do
  %span.name= member.full_name
  %span.role= "[#{member.role}]" if member.role.present?
  %span.status= member.status
  %span.notes= member.notes