%table.table.table-striped
  %thead
    %tr
      %th Img
      %th= sort_link @q, :first_name, 'Name'
      %th= sort_link @q, :email
      %th= sort_link @q, :city, 'Address'
      %th= sort_link @q, :home_phone, 'Phones'
      %th= sort_link @q, :highest_level

  %tbody
    - angels.each do |a|
      %tr
        %td= gravatar_image(a.gravatar)
        %td
          = link_to_show(office_angel_path(a), a.full_name)
          = angel_membership_status(a)
        %td= a.email
        %td= br(compact_address(a))
        %td= compact_phones(a)
        %td= a.highest_level

= render 'filter'

= render 'office/shared/table_options', :table => angels
