= render 'filter'

.list-group
  - angels.each do |a|
    = link_to(office_angel_path(a), class: 'list-group-item') do
      .mini-box
        %span.box-icon
          = angel_icon(a, 65)
        .box-info
          %p.size-h4= a.display_name
          %p= a.email
          %p= span_phones(a)

= render 'office/shared/table_options', :table => angels
