= semantic_attributes_for angel do |attr|
  = attr.attributes :html => {:class => :column} do
    = attr.attribute :name, :value => angel.full_name
    = attr.attribute :phones, :value => compact_phones(angel)
  = attr.attributes :html => {:class => :column} do
    = attr.attribute :gender
    = attr.attribute :address, :value => compact_address(angel)
  = attr.attributes :html => {:class => :column} do
    = attr.attribute :email
    = attr.attribute :highest_level
  = attr.attributes do
    = attr.attribute :notes
.wat-cf
