%table.table.table-key-values
  %tbody
    %tr
      %th Name
      %td
        = angel.full_name
        = angel_icon(angel)
    %tr
      %th Gender
      %td= angel.gender
    %tr
      %th Email
      %td= angel.email
    %tr
      %th Phones
      %td= simple_format(compact_phones(angel), {}, sanitize: false)
    %tr
      %th Address
      %td= simple_format(compact_address(angel))
    %tr
      %th Payment
      %td= compact_payment(angel)
    %tr
      %th Notes
      %td= angel.notes
    %tr
      %th Highest Level
      %td= angel.highest_level