%table.table.table-key-values
  %caption
    %h6 Angel Information
  %tbody
    %tr
      %th Name
      %td= angel.full_name
    %tr
      %th Gender
      %td= angel.gender
    %tr
      %th Email
      %td= angel.email
    %tr
      %th Phones
      %td= compact_phones(angel)
    %tr
      %th Address
      %td
        .row-fluid
          .span4= compact_address(angel)
          .span2= link_to(icon('icon-map-marker') + "Map", map_office_angels_path(id: angel), class: 'btn') if angel.geocoded?

    %tr
      %th Notes
      %td= angel.notes
    - if local_assigns.has_key? :show_highest_level
      %tr
        %th Highest Level
        %td= angel.highest_level
