%table.table.table-key-values
  %caption
    %h6 Angel Information
  %tbody
    %tr
      %th Name
      %td
        = angel.full_name
        = gravatar_image(angel.gravatar)
    %tr
      %th Gender
      %td= angel.gender
    %tr
      %th Email
      %td= angel.email
    %tr
      %th Phones
      %td= compact_phones(angel)
    %tr
      %th Address
      %td= compact_address(angel)
    %tr
      %th Payment
      %td= compact_payment(angel)
    %tr
      %th Notes
      %td= angel.notes
    %tr
      %th Highest Level
      %td= angel.highest_level
