%table.detail
  %tbody
    = tr_field('Name', link_to_angel(angel))
    = tr_fields(angel, :gender, :email)
    = tr_field('Phones', simple_format(compact_phones(angel), {}, sanitize: false))
    = tr_field('Address', simple_format(compact_address(angel)))
    = tr_field('Payment', compact_payment(angel))
    = tr_fields(angel, :notes, :highest_level, :created_at, :updated_at)