= f.input :first_name
= f.input :last_name, :input_html => {:min => 3}
= f.input :gender, options_for_gender(f)
= f.input :address
= f.input :postal_code
= f.input :city
= f.input :country, options_for_country(f)
= f.input :email
= f.input :home_phone
= f.input :mobile_phone
= f.input :work_phone
