.row
  .span12
    .form-filter
      = simple_form_for @search, url: url_for, html: {class: 'form form-inline'} do |f|
        = f.input :first_name_contains, placeholder: 'First Name', label: false, required: false
        = f.input :last_name_contains, placeholder: 'Last Name', label: false, required: false
        = f.input :email_contains, placeholder: 'Email', label: false, required: false
        = f.input :city_contains, placeholder: 'City', label: false, required: false
        = f.input :postal_code_starts_with, placeholder: 'Postal Code/PLZ', label: false, required: false
        = f.input :highest_level_eq, placeholder: 'Highest level', label: false, required: false
        = f.button :submit, 'Filter'
