= simple_form_for([:office, angel], html: {class: 'form-horizontal'}) do |f|
  = render 'fields', :f => f
  = f.input :highest_level
  = f.input :notes, :input_html => {:cols => 25, :rows => 3}
  .form-actions
    = f.button :submit, class: 'btn-primary'
