%table.table
  %thead
    %tr
      %th= sort_link @search, :first_name, 'Name'
      %th= sort_link @search, :email
      %th= sort_link @search, :highest_level
      %th Events
      %th
  %tbody
    - angels.each do |a|
      %tr{:class => cycle(:odd, :even)}
        %td= a.full_name
        %td= auto_link(a.email)
        %td= a.highest_level
        %td= a.registrations.ok.count
        %td= link_to_show(office_angel_path(a))
= render 'office/shared/table_options', :table => angels, :search => :highest_level_eq
