%table.table.table-striped
  %thead
    %tr
      %th Img
      %th Name
      %th Email
      %th Address
      %th Phones
  %tbody
    - angels.each do |a|
      %tr
        %td= angel_icon(a)
        %td= link_to_show(office_angel_path(a), a.full_name)
        %td= a.email
        %td= simple_format(compact_address(a))
        %td= simple_format(compact_phones(a), {}, sanitize: false)
