%table.table.table-striped
  %thead
    %tr
      %th Img
      %th Name
      %th Email
      %th Address
      %th Phones
  %tbody
    - angels.each do |a|
      %tr
        %td= gravatar_image(a.gravatar)
        %td= link_to_show(office_angel_path(a), a.full_name)
        %td= a.email
        %td= br(compact_address(a))
        %td= compact_phones(a)
