.list-group
  - registrations.by_start_date.each do |r|
    = link_to(office_registration_path(r), class: 'list-group-item') do
      .mini-box
        %span.box-icon{class: r.completed? ? 'bg-success' : 'bg-warning'}
        .box-info
          %p
            %span.size-h4= r.event_name
            %span= r.status unless r.approved?
          %p= r.role
          - if r.owed
            %p= "Owes: #{local_currency r.owed}"