%table.table
  %thead
    %tr
      %th Title
      %th Level
      %th{:width => '60%'} Notes
      %th
      %th
  %tbody
    - registrations.each do |r|
      %tr{:class => cycle(:odd, :even)}
        %td= link_to(r.event_name, office_event_registrations_path(r.event))
        %td= r.level
        %td= r.notes
        %td.link= link_to_edit edit_office_angel_registration_path(r.angel, r)
        %td.link= link_to_destroy office_angel_registration_path(r.angel, r)
.wat-cf
