%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Level
      %th Role
      %th Cost
      %th Paid
      %th Owed
      %th.center Status
      %th.center Completed
      %th
  %tbody
    - registrations.each do |r|
      %tr
        %td= link_to_show(office_event_registration_path(r.event, r), r.event_name)
        %td= r.level
        %td= r.role
        %td= local_currency r.cost
        %td= local_currency r.paid
        %td= local_currency r.owed
        %td.center= r.status
        %td.center= color_dot(r.completed)
        %td.link= link_to_destroy [:office, r.angel, r]
