%h3 Registered for #{pluralize(registrations.count, 'workshop')}
%table.table
  %thead
    %tr
      %th Title
      %th Role
      %th{:width => '60%'} Notes
      %th
      %th
  %tbody
    - registrations.by_start_date.each do |registration|
      %tr{:class => cycle(:odd, :even)}
        %td= registration.event.display_name
        %td= registration.role
        %td= registration.notes
        %td.link= link_to_edit edit_office_angel_registration_path(registration.angel, registration)
        %td.link= link_to_destroy [:office, registration.angel, registration]

