= content_for :secondary_navigation do
  %ul.nav.nav-list
    %li.nav-header Angels
    %li= link_to_new(new_office_angel_path, "New Angel")
    %li= link_to_show(office_similar_angels_path, "Similar Angels")
    %li.nav-header Reports
    %li= link_to(icon('icon-map-marker') + "Show on Map", url_for(params.merge(action: :map)))
    %li= link_to(icon('icon-list-alt') + "Contact List", office_angels_path)
    %li.nav-header Export
    %li= link_to(icon('icon-envelope') + "Address Book", url_for(params.merge(format: :vcard)))
    %li= link_to(icon('icon-list') + "Spreadsheet", url_for(params.merge(format: :csv)))
