.block
  = block_navigation([['Contacts', :index], ['Levels', :level]])

  .content
    = controls do |c|
      - add_button_to(c, "Download #{pluralize(angels.total_entries, 'VCard')}", params.merge(:format => :vcard, :icon => 'vcard'))

    %h2 Angels List

    .inner
      = render 'level', :angels => angels

  = block_footer(angel_breadcrumbs)
