.block
  .content
    = controls do |c|
      - c << edit_button

    %h2 Details for #{angel.display_name}

    = render angel
    = render 'office/shared/audits', :audits => angel.audits.descending if angel.audits.any?

  .content
    = controls do |c|
      - c << new_button(label: 'New Membership', path: new_office_angel_membership_path(angel))

    - if angel.memberships.size > 0
      %h3 #{pluralize(angel.memberships.size, 'Membership')}
      = render 'memberships', memberships: angel.memberships
    - else
      %h3 No memberships.

  .content
    = controls do |c|
      - c << new_button(label: 'New Registration', path: new_office_angel_registration_path(angel))

    - if registrations.size > 0
      %h3 Registered for #{pluralize(registrations.size, 'event')}
      = render 'registrations', :registrations => registrations
    - else
      %h3 Not registered for any events.
