%h3= angel.full_name
= semantic_attributes_for angel do |attr|
  = attr.attributes :html => {:class => :column} do
    = attr.attribute :gender
    = attr.attribute :email, :value => auto_link(angel.email)
    = attr.attribute :highest_level
  = attr.attributes :html => {:class => :column} do
    = attr.attribute :phones, :value => compact_phones(angel)
  = attr.attributes :html => {:class => :column} do
    = attr.attribute :address, :value => compact_address(angel)
  = attr.attributes do
    = attr.attribute :notes
