.panel.panel-default
  .panel-heading
    = controls do |c|
      - c << edit_button
      - (c << map_button(path: map_office_angels_path(id: @angel))) if @angel.geocoded?

    %h3 #{@angel.display_name}

  .panel-body
    = render @angel
    = render 'office/shared/audits', :audits => @angel.audits.descending if @angel.audits.any?

    .panel.panel-default
      .panel-heading
        = controls do |c|
          - c << new_button(label: 'New Membership', path: new_office_angel_membership_path(@angel))
        %h4 #{pluralize(@angel.memberships.size, 'Membership')}

      - if @angel.memberships.size > 0
        .panel-body
          = render 'memberships', memberships: @angel.memberships

    .panel.panel-default
      .panel-heading
        = controls do |c|
          - c << new_button(label: 'New Registration', path: new_office_angel_registration_path(@angel))
        %h4 #{pluralize(@angel.registrations.size, 'registration')}

      - if @angel.registrations.size > 0
        .panel-body
          = render 'registrations', registrations: @angel.registrations