.block
  = block_navigation("Show Angel #{angel.full_name}")

  .content
    = controls do |c|
      - add_button_to(c, :edit)
      - add_button_to(c, :delete)

    %h2 Details for #{angel.display_name}

    .inner
      = render 'angel', :angel => angel

  .content
    = controls do |c|
      - add_button_to(c, 'Add registration', :angel_id => angel, :controller => :registrations)

    %h2

    .inner
      - if registrations.count > 0
        %h3 Registered for #{pluralize(registrations.count, 'event')}
        = render 'registrations', :registrations => registrations
      - else
        %h3 Not registered for any events.

  = block_footer(angel_breadcrumbs)
