.block
  .content
    = controls do |c|
      - add_button_to(c, :edit)
      - add_button_to(c, :delete)

    %h2 Details for #{angel.display_name}

    = render 'angel', :angel => angel, :show_highest_level => true
    = render 'office/shared/audits', :audits => angel.audits.descending if angel.audits.any?

  .content
    = controls do |c|
      - add_button_to(c, 'Add registration', :angel_id => angel, :controller => :registrations)

    - if registrations.count > 0
      %h3 Registered for #{pluralize(registrations.count, 'event')}
      = render 'registrations', :registrations => registrations
    - else
      %h3 Not registered for any events.
