%table.table
  %thead
    %tr
      %th.name Name
      %th Gender
      - if Site.de?
        %th Pay. Meth
        %th Lift
        %th Backjk
        %th Stayover
        %th Meal
        %th Veg.
        %th Notes
      - elsif Site.uk?
        %th How Hear
        %th Prev. Event
        %th Lift
        %th Veg.
        %th Cloth. Talk
        %th Reg Fee Rec
      %th
  %tbody
    - registrations.by_first_name.each do |r|
      %tr{:class => cycle(:odd, :even)}
        %td.name= r.full_name
        %td.center= r.gender.first
        - if Site.de?
          %td= r.payment_method
          %td= r.lift
          %td.center= checkmark_if(r.backjack_rental)
          %td.center= checkmark_if(r.sunday_stayover)
          %td.center= checkmark_if(r.sunday_meal)
          %td.center= checkmark_if(r.special_diet)
          %td= r.notes
        - elsif Site.uk?
          %td= r.how_hear
          %td= r.previous_event
          %td= r.lift
          %td.center= checkmark_if(r.special_diet)
          %td.center= checkmark_if(r.clothing_conversation)
          %td.center= checkmark_if(r.reg_fee_received)
        %td.link= link_to_show office_event_registration_path(r.event, r)
.wat-cf
