- r = registration

%table.table.table-key-values
  %caption
    %h6 Contact Information
  %tbody
    %tr
      %th Name
      %td= r.angel ? link_to_angel(r.angel) : r.full_name
    %tr
      %th Email
      %td= r.email
    %tr
      %th Phones
      %td= compact_phones(r)
    %tr
      %th Address
      %td
        .row-fluid
          .span4= compact_address(r)
          .span2= link_to(icon('icon-map-marker') + "Map", office_event_map_index_path(r.event, id: r), class: 'btn') if r.geocoded?
