= form.input :cost
= form.input :registration_code, :input_html => {:size => 10}
= form.input :payment_method, options_for_payment_method(form, :translate => false)
= form.input :bank_account_name,  :input_html => {:size => 30}
= form.input :iban,  :input_html => {:size => 30}
= form.input :bic,  :input_html => {:size => 30}
