= form.inputs do
  = form.input :payment_method, options_for_payment_method(form, :translate => false)
= form.inputs :class => :column_left do
  = form.input :bank_account_name,  :input_html => {:size => 30}
  = form.input :bank_account_nr,  :input_html => {:size => 10}
= form.inputs :class => :column_right do
  = form.input :bank_name,  :input_html => {:size => 30}
  = form.input :bank_sort_code,  :input_html => {:size => 10}
