= render 'office/registrations/fields_contact', form: form
= render 'office/registrations/fields_requests', form: form
= render 'office/registrations/fields_highest_level', form: form
= render 'office/registrations/fields_payment', form: form
= render 'office/registrations/field_note', form: form
= render 'office/registrations/fields_staff', form: form