= semantic_form_for [:office, parent, registration] do |r|
  -if registration.errors.any?
    #error_explanation
      %h3= "#{pluralize(registration.errors.count, "error")} prohibited this registration from being saved"

  = r.semantic_errors(:angel_id, :event_id)
  = r.inputs :class => 'column_left' do
    - if parent.kind_of?(Event)
      = r.input :angel, options_for_angel_select(r)
    - else
      = r.input :event, options_for_signup_events_select(r)
  = r.inputs :class => :column_right do
    = r.input :role, options_for_role(r)

  = render 'office/registrations/fields_payment', :form => r
  = render 'office/registrations/fields_requests', :form => r
  = render 'office/registrations/field_note', :form => r
    
  = r.inputs do
    = r.input :completed
    = r.input :checked_in

  = r.buttons do
    = r.commit_button


