= render "counts", :registrations => registrations

- title = pluralize(registrations.participants.count, "Participant Registration")
= render list, registrations: registrations.participants, title: title if registrations.participants.any?

- title = pluralize(registrations.team.count, "Team Registration")
= render list, registrations: registrations.team, title: title if registrations.team.any?

- title = pluralize(registrations.facilitators.count, "Facilitator Registration")
= render list, registrations: registrations.facilitators, title: title if registrations.facilitators.any?

- if local_assigns.has_key? :non_registrations
  - title = pluralize(non_registrations.count, "Not Approved Registration Requests")
  = render list, registrations: non_registrations, title: title if non_registrations.any?
