- r = registration

.panel.panel-default
  .panel-heading
    = controls do |c|
      - c << link_to(new_office_registration_payment_path(registration), class: 'btn btn-default') do
        - icon_label('plus-sign', 'Add Payment')

    %h4 Payment Information

  %table.detail
    %tbody
      = tr_field('Method', r.payment_method)
      = tr_field('Account Name', [r.bank_account_name, r.bank_name].compact.join(' / '))
      = tr_field('IBAN', r.iban)
      = tr_field('BIC', r.bic)
      = tr_field('Code', r.registration_code)
      = tr_field('Cost', local_currency(r.cost))
      = tr_field('Paid', local_currency(r.paid))
      = tr_field('Owes', local_currency(r.owed))

  = render 'office/payments/payments', payments: registration.payments if registration.payments.any?