- r = registration

.panel.panel-default
  .panel-heading
    = controls do |c|
      - c << link_to(new_office_registration_payment_path(registration), class: 'btn btn-default') do
        - icon_label('plus-sign', 'Add Payment')

    %h4 Payment Information

  %table.table.table-key-values
    %tbody
      %tr
        %th Method
        %td= r.payment_method
      %tr
        %th Account Name
        %td= [r.bank_account_name, r.bank_name].compact.join(' / ')
      %tr
        %th IBAN
        %td= r.iban
      %tr
        %th BIC
        %td= r.bic
      %tr
        %th Code
        %td= r.registration_code
      %tr
        %th Cost
        %td= local_currency r.cost
      %tr
        %th Paid
        %td= local_currency r.paid
      %tr
        %th Owes
        %td= local_currency r.owed

  = render 'office/payments/payments', payments: registration.payments if registration.payments.any?