%table.table.table-key-values
  %caption
    %h6 Registration Information
  %tbody
    %tr
      %th Role
      %td= registration.role
    %tr
      %th Gender
      %td= registration.gender
    %tr
      %th Special Requests
      %td= registration_requests(registration)
    %tr
      %th Notes
      %td= registration.notes

%table.table.table-key-values
  %caption
    %h6 Research
  %tbody
    %tr
      %th How Hear
      %td= registration.how_hear
    %tr
      %th Previous Event
      %td= registration.previous_event
    %tr
      %th Highest Level
      %td= registration.highest_level
    %tr
      %th Where
      %td= registration.highest_location
    %tr
      %th When
      %td= registration.highest_date
