- r = registration
- if r.payment_method.present? && Site.de?
  %table.table.table-key-values
    %caption
      %h6 Payment Information
    %tbody
      %tr
        %th Code
        %td= r.registration_code
      %tr
        %th Method
        %td= r.payment_method
      %tr
        %th Account Name
        %td= [r.bank_account_name, r.bank_name].compact.join(' / ')
      %tr
        %th IBAN
        %td= r.iban
      %tr
        %th BIC
        %td= r.bic

