= semantic_attributes_for registration do |attr|
  = attr.attributes :html => {:class => :column3} do
    = attr.attribute :special_requests, :value => registration_requests(registration)
    = attr.attribute :notes
  - if Site.uk?
    .wat-cf
    = attr.attributes :html => {:class => :column} do
      = attr.attribute :how_hear
    = attr.attributes :html => {:class => :column} do
      = attr.attribute :previous_event
    = attr.attributes :html => {:class => :column} do
      = attr.attribute :clothing_conversation
    = attr.attributes :html => {:class => :column} do
      = attr.attribute :reg_fee_received
.wat-cf
