- r = registration
- if r.payment_method.present? && Site.de?
  %table.table.table-key-values
    %caption
      %h6 Payment Information
    %tbody
      %tr
        %th Code
        %td= r.registration_code
      %tr
        %th Method
        %td= r.payment_method
      - if r.payment_method == Registration::INTERNET
        %tr
          %th Account Name
          %td= r.bank_account_name
        %tr
          %th Account Number
          %td= r.bank_account_nr
        %tr
          %th Bank Name
          %td= r.bank_name
        %tr
          %th Bank BLZ
          %td= r.bank_sort_code

