.block
  = block_navigation(registration_navigation)

  .content
    = controls do |c|
      - add_button_to(c, 'Add registration')

    %h2
      #{pluralize(registrations.count, 'registration')}
      for #{parent.display_name}

    .inner
      = render 'counts', :registrations => registrations

      %h3 Participant Registrations
      = render 'registrations', :registrations => registrations.participants

      %h3 Team Registrations
      = render 'registrations', :registrations => registrations.team

      %h3 Facilitator Registrations
      = render 'registrations', :registrations => registrations.facilitators

  = block_footer(registration_breadcrumbs)
