- r = @registration

.panel.panel-default
  .panel-heading
    = controls do |c|
      - c << message_button(source: r.angel, to: r.angel.email)
      - c << edit_button
      - (c << map_button(path: map_office_event_report_path(r.event, q: {id_eq: r}))) if r.geocoded?

    %h3
      = r.full_name
      = link_to(r.event.display_name, office_event_path(r.event))

  .panel-body
    = render r

    - if r.audits.any?
      = render 'office/shared/audits', :audits => r.audits.descending
