.panel
  .panel-body
    = controls do |c|
      - c << edit_button

    %h2
      #{@registration.event_name}: registration of #{@registration.full_name}

    = render @registration

    - if @registration.audits.any?
      = render 'office/shared/audits', :audits => @registration.audits.descending
