.block
  .content
    = controls do |c|
      - add_button_to(c, :edit)
      - add_button_to(c, :delete)

    %h2
      #{registration.event_name}: registration of #{registration.full_name}

    = render 'registration', :registration => registration
    - if registration.audits.any?
      = render 'office/shared/audits', :audits => registration.audits.descending
