!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title= @title || "HAI #{Site.name.upcase} System"
    %link{:href => "/favicon-#{Site.name}.ico", :rel => "shortcut icon"}/
    = stylesheet_link_tag "office/application"
    = javascript_include_tag 'office/application'
    = csrf_meta_tag
    - if Site.uk?
      :css
        #header {
          background-image: url('/images/uk/logo-big.png');
          background-repeat: no-repeat;
          background-position: 0 0;
          -webkit-background-size: 100% 100%;
          -moz-background-size: 100% 100%;
          -o-background-size: 100% 100%;
          background-size: 100% 100%;
        }
        #header, .secondary-navigation {
          background-color: #{"#" + Site.theme_color};
        }
        #main-navigation ul li, .secondary-navigation ul li {
          background: #{"#" + Site.theme_color_lighter};
        }
    = yield :head
  %body
    .navbar
      .navbar-inner
        .container-fluid
          %a.brand HAI #{Site.name.upcase}
          = tabs
          = link_to_logout(destroy_staff_session_path)

    .container-fluid
      .flashes
        - flash.each do |key, msg|
          .alert.alert-message.fade.in{title: key.to_s.humanize, class: "#{key}", data: { alert: 'alert'}}
            = link_to("&times;".html_safe, '#', data: {dismiss: 'alert'}, class: 'close')
            %strong= msg


    - render 'secondary_navigation'

    .container-fluid
      - if content_for?(:secondary_navigation)
        .row-fluid
          .block.span2
            = yield :secondary_navigation
          .span10
            = yield
      - else
        .row-fluid
          .span12
            = yield

    = yield :javascripts
    =# for maps4rails
    = yield :scripts
