.row-fluid
  .span5
    %table.table.table-key-values
      %caption
        %h6 Payment Information
      %tbody
        %tr
          %th Name
          %td= registration.full_name
        %tr
          %th Event
          %td= registration.event_name
        %tr
          %th Date
          %td= l payment.paid_on
        %tr
          %th Note
          %td= payment.note
        %tr
          %th Amount
          %td= number_to_currency payment.amount
