.block
  .content
    = controls do |c|
      - c << new_button

    %h2
      Payments by #{registration.full_name} for #{registration.event_name}

  .content
    = render 'summary'
    = render 'payments', payments: @payments if @payments.any?
