.panel
  .panel-body
    = controls do |c|
      - c << new_button

    %h2
      Payments by #{registration.full_name} for #{registration.event_name}

  .panel-body
    = render 'summary'
    = render 'payments', payments: @payments if @payments.any?
