.similar-angel
  .panel.panel-default
    .panel-heading
      = controls do |c|
        - c << button_with_options(:merge, path: url_for(angel_ids: similar_angel.angel_ids), html: {method: :post})
      %h3.title= similar_angel.title

    .panel-body
      - similar_angel.angels.sort.each do |angel|
        .angel
          %p= angel_icon(angel)
          %p
            = link_to(angel.full_name, office_angel_path(angel))
            %br
            = angel.email
          %p= angel.address
          %p= angel.phones
          %p
            Id: #{angel.id}
            %br
            Created: #{angel.created_at}
            %br
            Updated: #{angel.updated_at}