- regs = registrations
.counts.well
  %h1= regs.participants.size
  %h3 Participants

.counts.well
  %h1= regs.team.size
  %h3 Team

.counts
  %table.table.table-bordered.table-condensed
    %thead
      %tr
        %th Total
        %th{:colspan => "2"} Participants
        %th{:colspan => "2"} Team
        %th Special Diet
        %th Clothing Conv.
        %th Reg Fee Rec.
      %tr
        %th
        %th Males
        %th Females
        %th Males
        %th Females
        %th
        %th
        %th
    %tbody
      %tr
        %td= regs.size
        %td= regs.participants.males.size
        %td= regs.participants.females.size
        %td= regs.team.males.size
        %td= regs.team.females.size
        %td= regs.special_diets.size
        %td= regs.clothing_conversations.size
        %td= regs.reg_fee_receiveds.size