= r.inputs do
  = r.input :event, options_for_signup_events_select(r)

  = r.semantic_fields_for :angel do |a|
    = a.input :first_name,  :input_html => {:size => 20}
    = a.input :last_name,   :input_html => {:size => 20}
    = a.input :gender, options_for_gender(a)
    = a.input :email,   :input_html => {:size => 30}
    = a.input :address,   :input_html => {:size => 30}
    = a.input :postal_code,  :input_html => {:size => 10}
    = a.input :city,   :input_html => {:size => 20}
    = a.input :country, options_for_country(a)
    = a.input :home_phone,  :input_html => {:size => 20}
    = a.input :mobile_phone,  :input_html => {:size => 20}
    = a.input :work_phone,  :input_html => {:size => 20}

  = render 'instructions', :instructions => 'options'
  = r.input :special_diet, options_for_special_diet(r)
  - if Site.de?
    = r.input :backjack_rental, options_for_backjack_rental(r)
    = r.input :sunday_choice, options_for_sunday_choice(r)
  = r.input :lift, options_for_lift(r)

  - if german?
    = render 'instructions', :instructions => 'payment'
    = r.input :payment_method, options_for_payment_method(r)
    #post
      = render 'instructions', :instructions => 'payment1'
    = r.inputs :id => 'internet' do
      = r.input :bank_account_name,  :input_html => {:size => 30}
      = r.input :bank_account_nr,  :input_html => {:size => 10}
      = r.input :bank_name,  :input_html => {:size => 30}
      = r.input :bank_sort_code,  :input_html => {:size => 10}

  = render 'instructions', :instructions => 'note'
  = r.input :notes, options_for_note(r)

- content_for :javascript do
  = javascript_include_tag "public_signup"
