%table.table-condensed.table-toggler
  %thead
    %tr
      %th.name Name
      %th= render 'header_th', :label => 'Not Checked In', :value => 'nc'
      %th= render 'header_th', :label => 'Checked In', :value => 'checked_in'
      %th Toggle
  %tbody
    - registrations.each do |r|
      %tr
        %td.name= r.full_name
        = content_tag(:td, '', r.checked_in? ? {} : {class: 'red'})
        = content_tag(:td, '', r.checked_in? ? {class: 'green'} : {})
        %td= checked_in_toggle(r)
