%table.table
  %thead
    %tr
      %th.name Name
      %th Pay. Meth
      %th Acc. Name
      %th Acc. Number
      %th Bank Name
      %th Bank BLZ
      %th
  %tbody
    - registrations.each do |r|
      %tr{:class => cycle(:odd, :even)}
        %td.name= r.full_name
        %td= r.payment_method
        %td= r.bank_account_name
        %td= r.bank_account_nr
        %td= r.bank_name
        %td= r.bank_sort_code
        %td.link= link_to_edit edit_office_event_registration_path(r.event, r)
.wat-cf
