%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Gender
      %th Event
      %th= sort_link @search, :approved_at, 'Approved'
      %th
  
  %tbody
    - approved.each do |p|
      %tr
        %td= link_to_show([:office, p], p.full_name)
        %td= p.gender
        %td= p.event_name
        %td= time_ago_in_words(p.approved_at)

= render 'office/shared/table_options', :table => approved
