= simple_form_for [:office, public_signup], html: {class: 'form-horizontal'} do |f|
  -if public_signup.errors.any?
    #error_explanation
      %h2
        #{pluralize(public_signup.errors.count, "error")} prohibited this registration from being saved

  = f.simple_fields_for :registration do |r|
    = r.association :event, options_for_signup_events_select(r)
    = r.input :role, options_for_role(r)

    = render 'office/registrations/fields', :form => r

  .form-actions
    = f.button :submit, class: 'btn-primary'
    or #{link_to('Cancel', [:office, public_signup])}

