%table.table
  %thead
    %tr
      %th Name
      %th Gender
      %th Event
      %th Added
      %th
  
  %tbody
    - pending.each do |p|
      %tr
        %td= p.full_name
        %td= p.gender
        %td= p.event_name
        %td= time_ago_in_words(p.created_at) + " ago"
        %td.action= link_to_show([:office, p])
.wat-cf
