.panel
  .panel-body
    - r = public_signup.registration
    - if r.approved?
      = controls do |c|
        - c << registrations_button(r.event)
        - c << button_with_options(:waitlist, icon: 'icon-time', html: {method: :put})

    - else
      = controls do |c|
        - c << edit_button

      = controls do |c|
        - c << button_with_options(:approve, icon: 'icon-ok', html: {method: :put})
        - if !r.waitlisted?
          - c << button_with_options(:waitlist, icon: 'icon-time', html: {method: :put})

    %h3
      Registration request for #{r.event_name}

    - if r.approved?
      %p Request approved #{time_ago_in_words(public_signup.approved_at)} ago.
    - else
      %p
        #{r.role} request by
        #{r.full_name} for
        #{r.event_name}.  Do you approved?

    = render 'public_signup', :public_signup => public_signup
