%p
  The subject and body fields can have special words which substitute for values in the registration record.
  The special fields are:
  %dl.dl-horizontal(ng-non-bindable)
    %dt= "{{person_name}}"
    %dd The full name of the registrant. ie Mike Park
    %dt= "{{event_name}}"
    %dd The name of the event. ie Level 1: 2014-02-01
    %dt= "{{registration_code}}"
    %dd The auto-assigned registration code. This is only available in confirmation emails.
    %dt= "{{cost}}"
    %dd The cost assigned to this registration. ie 110.00 €
    %dt= "{{account_name}}"
    %dd Bank account name
    %dt= "{{iban}}"
    %dd IBAN
    %dt= "{{bic}}"
    %dd BIC

= vertical_form([:office, @email_name]) do |f|
  = f.input :name
  = f.simple_fields_for(:emails, f.options.slice(:wrapper_mappings)) do |l|
    .panel.panel-default
      .panel-heading
        %h4 Language #{l.object.locale}
      .panel-body(ng-non-bindable)
        = l.input :locale, :as => :hidden
        = l.input :email_name_id, :as => :hidden
        = l.input :subject
        = l.input :body, input_html: {rows: 10}
  = f.button :submit, 'Save template'