- regs = registrations
.counts.well
  %h1= regs.participants.size
  %h3 Participants

.counts.well
  %h1= regs.team.size
  %h3 Team

.counts
  %table.table.table-bordered.table-condensed
    %thead
      %tr
        %th Total
        %th{:colspan => "2"} Participants
        %th{:colspan => "2"} Team
        %th{:colspan => "2"} Requests
        %th{:colspan => "2"} Sunday
      %tr
        %th
        %th Males
        %th Females
        %th Males
        %th Females
        %th Backjacks
        %th Stayovers
        %th Meals
    %tbody
      %tr
        %td= regs.size
        %td= regs.participants.males.size
        %td= regs.participants.females.size
        %td= regs.team.males.size
        %td= regs.team.females.size
        %td= regs.backjack_rentals.size
        %td= regs.sunday_stayovers.size
        %td= regs.sunday_meals.size