= vertical_form([:office, @site_default]) do |f|
  - if super_user?
    = f.simple_fields_for :translation_key do |k|
      = k.input :key
    = f.input :description
  - else
    = @site_default.description

  = f.simple_fields_for :translation_key do |k|
    = k.simple_fields_for :translations do |t|
      = t.input :locale, as: :hidden
      = t.input :text, :label => "Language: #{t.object.locale}", input_html: { rows: 8}

  = f.button :submit