= vertical_form([:office, site_default]) do |f|
  - if super_user?
    = f.simple_fields_for :translation_key do |k|
      = k.input :key
    = f.input :description
  - else
    = site_default.description

  = f.simple_fields_for :translation_key do |k|
    = k.simple_fields_for :translations do |t|
      - if super_user?
        = t.input :locale
        = t.input :text
      - else
        = t.input :text, :label => "Language: #{t.object.locale}"

  = f.button :submit