.block
  = block_navigation("Edit #{site_default.display_name}")

  .content
    - if super_user?
      = controls do |c|
        - add_button_to(c, :delete)

    %h2 Editing key #{site_default.display_name}

    .inner
      = render 'form'

  = block_footer(site_default_breadcrumbs)
