%div(ng-app='app' ng-controller="Hello" )
  %h1 Angular count {{ count }}

- if @pending.count > 0
  .block
    .content
      = controls do |c|
        - c << show_button(label: 'Show Pending Signups', path: office_public_signups_path)

      %h3
        #{pluralize(@pending.count, "public signup")} pending approval.

- if @waitlisted.count > 0
  .block
    .content
      = controls do |c|
        - c << show_button(label: 'Show Wait Listed Signups', path: waitlisted_office_public_signups_path)

      %h3
        #{pluralize(@waitlisted.count, "public signup")} wait listed.

- @events.each do |event|
  .block
    .content
      = controls do |c|
        - c << registrations_button(event)

      %h2 
        #{event.display_name} ~ #{time_ago_in_words(event.start_date)}

      = render 'office/event_reports/counts', registrations: event.registrations.approved
