- if @pending.count > 0
  .block
    .content
      = controls do |c|
        - add_button_to(c, 'Show pending signups', :controller => :public_signups, :action => :index)

      %h3
        #{pluralize(@pending.count, "public signup")} pending approval.

- if @waitlisted.count > 0
  .block
    .content
      = controls do |c|
        - add_button_to(c, 'Show waitlisted signups', :controller => :public_signups, :action => :waitlisted)

      %h3
        #{pluralize(@waitlisted.count, "public signup")} wait listed.

- @events.each do |event|
  .block
    .content
      = controls do |c|
        - add_button_to(c, 'Show registrations', controller: :event_reports, action: :status, event_id: event)

      %h2 
        #{event.display_name} ~ #{time_ago_in_words(event.start_date)}

      = render 'office/event_reports/counts', registrations: event.registrations.approved
