- teams.each do |team|
  %h2=link_to(team.name, [:office, team])
  - stats = TeamStatsDecorator.new(team.stats)
  .row-fluid
    .span.team-delta
      %span{class: stats.full? ? 'dot-green' : 'dot-red'}= stats.delta_with_symbol

    .span
      %table.table
        %thead
          %tr
            %th.qty Participants
            %th.qty Team Tot.
            - stats.headings(stats.extra_fields).each do |heading|
              %th.qty= heading
        %tbody
          %tr
            %td.qty= team.stats.counts(:participants)[:total]
            %td.qty= team.stats.counts(:team)[:total]
            - stats.counts(stats.extra_fields, :team).each do |count|
              %td.qty= count
  - if team.notes.present?
    .row-fluid
      = "Notes: #{team.notes}"