- stats = TeamStatsDecorator.new(team_stats)
.row-fluid
  .span
    %table.table
      %thead
        %tr
          - stats.headings(stats.extra_fields).each do |heading|
            %th.qty= heading
      %tbody
        %tr
          - stats.counts(stats.extra_fields, :team).each do |count|
            %td.qty= count

  .span.team-delta
    %span{class: stats.full? ? 'dot-green' : 'dot-red'}= stats.delta_with_symbol


.row-fluid
  .span
    %table.table
      %thead
        %tr
          %th
          - stats.headings(stats.fields).each do |heading|
            %th.qty= heading
      %tbody
        %tr
          %td Participants
          - stats.counts(stats.fields, :participants).each do |count|
            %td.qty= count
        %tr
          %td Team
          - stats.counts(stats.fields, :team).each do |count|
            %td.qty= count
