!!! 5
- title = "HAI #{Site.name.upcase} Workshops"
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title= title
    %link{:href => "/favicon-#{Site.name}.ico", :rel => "shortcut icon"}
    = csrf_meta_tag
    = stylesheet_link_tag "office/application"
    %script{src:"//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    = javascript_include_tag 'office/application'
    :css
      #container {
        max-width: 600px;
        margin: 0 auto;
      }

    - if Site.de?
      :css
        .header {
          text-align: center;
          background-color: #9c3;
          height: 80px;
          padding-top: 15px;
          margin-bottom: 30px;
        }
        .logo {
          position: absolute;
          height: 115px;
        }
    - elsif Site.uk?
      :css
        .header {
          text-align: center;
          margin-top: -80px;
          color: #ff8c00;
          height: 100px;
        }
        .logo {
          text-align: center;
          z-index: -10;
          height: 100px;
        }

  %body{class: page_class}
    .header
      %h1= title

    #container
      .row-fluid
        .span12
          .flashes
            - flash.each do |key, msg|
              .alert.alert-message.fade.in{title: key.to_s.humanize, class: "#{key}", data: { alert: 'alert'}}
                = link_to("&times;".html_safe, '#', data: {dismiss: 'alert'}, class: 'close')
                %strong= msg
      .row-fluid
        .span12
          .block
            .content
              = yield
