<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de-DE">

<head profile="http://gmpg.org/xfn/11">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <title>Anmeldung &laquo;  HAI Deutschland / Europa</title>

  <link rel="pingback" href="//single-paar-liebe-sexualitaet-workshop.de/xmlrpc.php" />


  <!--[if IE 6]>
  <script  type="text/javascript" src="//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/u-design/scripts/DD_belatedPNG_0.0.8a-min.js"></script>
  <script  type="text/javascript">
    // <![CDATA[
	DD_belatedPNG.fix('.pngfix, img, #home-page-content li, #page-content li, #bottom li, #footer li, #recentcomments li span');
    // ]]>
    </script>
<![endif]-->
  <!--[if lt IE 9]>
  <script src="//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/u-design/scripts/css3-mediaqueries.js"></script>
  <![endif]-->

  <meta name='robots' content='noindex,nofollow' />
  <link rel="alternate" type="application/rss+xml" title="HAI Deutschland / Europa &raquo; Feed" href="//single-paar-liebe-sexualitaet-workshop.de/feed/" />
  <link rel="alternate" type="application/rss+xml" title="HAI Deutschland / Europa &raquo; Kommentar-Feed" href="//single-paar-liebe-sexualitaet-workshop.de/comments/feed/" />
  <link rel="alternate" type="application/rss+xml" title="HAI Deutschland / Europa &raquo; Anmeldung Kommentar-Feed" href="//single-paar-liebe-sexualitaet-workshop.de/anmeldung/feed/" />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans' type='text/css' />
  <link rel='stylesheet' id='rs-settings-css'  href='//single-paar-liebe-sexualitaet-workshop.de/wp-content/plugins/revslider/rs-plugin/css/settings.css?ver=3.5.1' type='text/css' media='all' />
  <link rel='stylesheet' id='rs-captions-css'  href='//single-paar-liebe-sexualitaet-workshop.de/wp-content/plugins/revslider/rs-plugin/css/captions.css?ver=3.5.1' type='text/css' media='all' />
  <link rel='stylesheet' id='evcal_cal_default-css'  href='//single-paar-liebe-sexualitaet-workshop.de/wp-content/plugins/eventON/assets/css/eventon_styles.css?ver=3.5.1' type='text/css' media='all' />
  <link rel='stylesheet' id='evcal_google_fonts-css'  href='//fonts.googleapis.com/css?family=Oswald%3A400%2C300&#038;ver=3.5.1' type='text/css' media='screen' />
  <link rel='stylesheet' id='wp-pagenavi-css'  href='//single-paar-liebe-sexualitaet-workshop.de/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70' type='text/css' media='all' />
  <link rel='stylesheet' id='u-design-reset-css'  href='//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/u-design/styles/common-css/reset.css?ver=1.0' type='text/css' media='screen' />
  <link rel='stylesheet' id='u-design-text-css'  href='//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/u-design/styles/style1/css/text.css?ver=1.0' type='text/css' media='screen' />
  <link rel='stylesheet' id='u-design-grid-960-css'  href='//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/u-design/styles/common-css/960.css?ver=1.0' type='text/css' media='screen' />
  <link rel='stylesheet' id='u-design-superfish_menu-css'  href='//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/u-design/scripts/superfish-menu/css/superfish.css?ver=1.7.2' type='text/css' media='screen' />
  <link rel='stylesheet' id='u-design-pretty_photo-css'  href='//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/u-design/scripts/prettyPhoto/css/prettyPhoto.css?ver=3.1.5' type='text/css' media='screen' />
  <link rel='stylesheet' id='u-design-style-css'  href='//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/u-design/styles/style1/css/style.css?ver=2.0.1' type='text/css' media='screen' />
  <link rel='stylesheet' id='u-design-custom-style-css'  href='//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/u-design/styles/custom/custom_style.css?ver=3.5.1' type='text/css' media='screen' />
  <link rel='stylesheet' id='u-design-responsive-css'  href='//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/u-design/styles/common-css/responsive.css?ver=2.0.1' type='text/css' media='screen' />
  <link rel='stylesheet' id='u-design-style-orig-css'  href='//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/lds/style.css?ver=1.0' type='text/css' media='screen' />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type='text/javascript' src='//single-paar-liebe-sexualitaet-workshop.de/wp-includes/js/comment-reply.min.js?ver=3.5.1'></script>
  <script type='text/javascript' src='//single-paar-liebe-sexualitaet-workshop.de/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js?ver=3.5.1'></script>
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="//single-paar-liebe-sexualitaet-workshop.de/xmlrpc.php?rsd" />
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="//single-paar-liebe-sexualitaet-workshop.de/wp-includes/wlwmanifest.xml" />
  <link rel='prev' title='News' href='//single-paar-liebe-sexualitaet-workshop.de/news/' />
  <link rel='next' title='Kontakt' href='//single-paar-liebe-sexualitaet-workshop.de/kontakt/' />
  <link rel='canonical' href='//single-paar-liebe-sexualitaet-workshop.de/anmeldung/' />
  <link rel='stylesheet' id='wop-css'  href='//single-paar-liebe-sexualitaet-workshop.de/wp-content/plugins/widgets-on-pages/wop.css' type='text/css' media='all' />

  <!-- EventON Version -->
  <meta name="generator" content="EventON 2.1.17" />

  <style type='text/css'>
    .evo_day.has_events span{color:#FF4133}.evo_metarow_socialmedia .evo_sm{
                                             display:block;
                                             float:left;
                                             margin-right:5px;
                                             height:25px;
                                           }



    .ajde_evcal_calendar .calendar_header p, .eventon_sort_line p, .eventon_filter_line p, .eventon_events_list .eventon_list_event .evcal_cblock, .eventon_events_list .eventon_list_event .evcal_desc span.evcal_desc2, .evcal_evdata_row .evcal_evdata_cell h2, .evcal_evdata_row .evcal_evdata_cell h3, .evcal_month_line p{
      font-family:"open sans";
    }

      /*-- arrow --*/
    .evcal_evdata_row .evcal_evdata_icons.evcalicon_1{
      background-position:0 0px
    }.evcal_evdata_row .evcal_evdata_icons.evcalicon_2{
       background-position:0 -31px
     }.evcal_evdata_row .evcal_evdata_icons.evcalicon_3{
        background-position:0 -125px
      }.evcal_evdata_row .evcal_evdata_icons.evcalicon_4{
         background-position:0 -64px
       }.evcal_evdata_row .evcal_evdata_icons.evcalicon_5{
          background-position:0 -96px
        }.evcal_evdata_row .evcal_evdata_icons.evcalicon_6{
           background-position:0 -190px
         }.evcal_evdata_row .evcal_evdata_icons.evcalicon_7{
            background-position:0 -225px
          }



    #evcal_list .eventon_list_event .event_description .evcal_btn{
      color:#fff;
      background-color:#237ebd;
    }
    #evcal_list .eventon_list_event .event_description .evcal_btn:hover{
      color:#fff;
      background-color:#237ebd;
    }

      /*-- font color match --*/
    #evcal_list .eventon_list_event .evcal_desc em{
      color:#8c8c8c;
    }.ajde_evcal_calendar #evcal_head.calendar_header #evcal_cur, .ajde_evcal_calendar .evcal_month_line p{
       color:#C6C6C6;
     }
    #evcal_list .eventon_list_event .evcal_cblock{
      color:#ABABAB;
    }
    #evcal_list .eventon_list_event .evcal_desc span.evcal_event_title{
      color:#6B6B6B;
    }
    .evcal_evdata_row .evcal_evdata_cell h2, .evcal_evdata_row .evcal_evdata_cell h3{
      color:#6B6B6B;
    }
    #evcal_list .eventon_list_event .evcal_eventcard p{
      color:#656565;
    }
    .eventon_events_list .eventon_list_event .evcal_eventcard, .evcal_evdata_row{
      background-color:#EAEAEA;
    }

    #eventon_loadbar{
      background-color:#6B6B6B; height:2px; width:0%}



  </style>
  <!--[if lte IE 9]>
  <link rel="stylesheet" href="//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/u-design/styles/common-css/ie-all.css" media="screen" type="text/css" />
  <![endif]-->
  <!--[if lte IE 7]>
  <link rel="stylesheet" href="//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/u-design/styles/common-css/ie6-7.css" media="screen" type="text/css" />
  <![endif]-->
  <!--[if IE 6]>
  <link rel="stylesheet" href="//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/u-design/styles/common-css/ie6.css" media="screen" type="text/css" />
  <style type="text/css">
    body{ behavior: url("//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/u-design/scripts/csshover3.htc"); }
  </style>
  <![endif]-->

  <%= stylesheet_link_tag 'public_signup/de/main' %>
  <%= javascript_include_tag "public_signup"%>
  <%= csrf_meta_tag %>

</head>
<body class="page page-id-16 page-template-default  u-design-responsive-on   no_title_section">
<div id="wrapper-1" class="pngfix">
  <div id="top-wrapper">
    <div id="top-elements" class="container_24">
      <div id="logo" class="grid_14">
        <div class="site-name"><a  title="HAI Deutschland / Europa" class="pngfix" href="//single-paar-liebe-sexualitaet-workshop.de">HAI Deutschland / Europa</a></div>
      </div>
      <div id="slogan" class="grid_17">Workshops zu den Themen Liebe, Nähe und Sexualität</div>
      <!-- end logo slogan -->
      <div id="search" class="grid_6 prefix_18">
        <form action="//single-paar-liebe-sexualitaet-workshop.de/" method="get">
          <div class="search_box">
            <input id="search_field" name="s" type="text" class="inputbox_focus blur pngfix" value="Suche..." />
            <input type="submit"  value="" class="search-btn pngfix" />
          </div>
        </form>
      </div><!-- end search -->

      <div class="social-media-area grid_9 prefix_15">
        <div class="social_media_top widget_text substitute_widget_class">			<div class="textwidget"><div class="social-icons">
          <ul>
            <li class="social_icon"><a href="https://www.facebook.com/pages/Hand-on-Heart-e-V/156815197715641" title="Facebook" target="_blank"><img src="//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/lds/images/facebook-icon.png" alt="facebook" border="0" /></a></li>
            <li class="social_icon"><a href="//single-paar-liebe-sexualitaet-workshop.de/kontakt" title="Kontakt"><img src="//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/lds/images/email-icon.png" alt="email" border="0" /></a></li>

          </ul>
        </div>
        </div>
        </div>                        </div><!-- end social-media-area -->
    </div>
    <!-- end top-elements -->
    <div id="main-menu" class="pngfix">
      <div id="dropdown-holder" class="container_24">
        <div id="navigation-menu" class="navigation-menu"><ul id="main-top-menu" class="sf-menu"><li id="menu-item-59" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-59"><a href="//single-paar-liebe-sexualitaet-workshop.de"><span>Home</span></a></li>
          <li id="menu-item-185" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-185"><a><span>HAI</span></a>
            <ul class="sub-menu">
              <li id="menu-item-191" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-191"><a href="//single-paar-liebe-sexualitaet-workshop.de/was-ist-hai/"><span>Was ist HAI?</span></a></li>
              <li id="menu-item-190" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-190"><a href="//single-paar-liebe-sexualitaet-workshop.de/das-team-der-hai-workshopleiter/"><span>Das Team der HAI Workshopleiter</span></a></li>
              <li id="menu-item-189" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-189"><a href="//single-paar-liebe-sexualitaet-workshop.de/fur-wen-sind-die-hai-workshops-gedacht/"><span>Für wen sind die HAI-Workshops gedacht?</span></a></li>
              <li id="menu-item-187" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-187"><a href="//single-paar-liebe-sexualitaet-workshop.de/was-findet-auf-einem-hai-workshop-statt/"><span>Was findet auf einem HAI Workshop statt?</span></a></li>
              <li id="menu-item-188" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-188"><a href="//single-paar-liebe-sexualitaet-workshop.de/die-veranstalter-der-hai-workshops-in-deutschland/"><span>Die Veranstalter der HAI-Workshops in Deutschland</span></a></li>
              <li id="menu-item-186" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-186"><a href="//single-paar-liebe-sexualitaet-workshop.de/wo-finden-die-hai-workshops-statt/"><span>Wo finden die HAI-Workshops statt?</span></a></li>
              <li id="menu-item-196" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-196"><a target="_blank" href="https://www.facebook.com/haiglobal"><span>HAI Global on Facebook</span></a></li>
            </ul>
          </li>
          <li id="menu-item-182" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-182"><a href="//single-paar-liebe-sexualitaet-workshop.de/workshops/"><span>Workshops</span></a></li>
          <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a href="//single-paar-liebe-sexualitaet-workshop.de/termine/"><span>Termine</span></a></li>
          <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a href="//single-paar-liebe-sexualitaet-workshop.de/preise/"><span>Preise</span></a></li>
          <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a href="//single-paar-liebe-sexualitaet-workshop.de/erfahrungen/"><span>Erfahrungen</span></a></li>
          <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="//single-paar-liebe-sexualitaet-workshop.de/lokale-supportgruppen/"><span>Supportgruppen</span></a></li>
          <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-16 current_page_item menu-item-21"><a href="#"><span>Anmeldung</span></a></li>
          <li id="menu-item-165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165"><a href="//single-paar-liebe-sexualitaet-workshop.de/kontakt/"><span>Kontakt</span></a></li>
          <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="//single-paar-liebe-sexualitaet-workshop.de/news/"><span>News</span></a></li>
        </ul></div>                </div>
      <!-- end dropdown-holder -->
    </div>
    <!-- end top-main-menu -->
  </div>
  <!-- end top-wrapper -->

  <div class="clear"></div>



  <div id="page-content">
    <div class="no-breadcrumbs-padding"></div>




    <div id="content-container" class="container_24">
      <div id="main-content" class="grid_16">
        <div id="haidbcontainer">
          <div id="flash" style="padding-left: 60px;">
            <%- flash.each do |key, value| %>
              <div class="flash #{key}">
                <%= value %>
              </div>
            <%- end %>
          </div>

          <div id="haidbcontent">
            <%= yield %>
          </div>
          <div class="clear"></div>
          <%= yield :javascript %>
        </div>

      </div><!-- end main-content -->


      <div id="sidebar" class="grid_8">
        <div id="sidebarSubnav">

          <div id="widget_sp_image-2" class="widget widget_sp_image substitute_widget_class"><img width="300" height="200" alt="" class="attachment-300x200" style="max-width: 100%;" src="//single-paar-liebe-sexualitaet-workshop.de/wp-content/uploads/2013/08/Geborgenheit_75797.jpg" /></div><div id="widget_sp_image-3" class="widget widget_sp_image substitute_widget_class"><img width="300" height="201" alt="" class="attachment-300x201" style="max-width: 100%;" src="//single-paar-liebe-sexualitaet-workshop.de/wp-content/uploads/2013/08/parkbank_77109.jpg" /></div><div id="widget_sp_image-4" class="widget widget_sp_image substitute_widget_class"><img width="300" height="215" alt="" class="attachment-300x215" style="max-width: 100%;" src="//single-paar-liebe-sexualitaet-workshop.de/wp-content/uploads/2013/08/hands-touching.jpg" /></div>	    </div>
        <!-- end sidebarSubnav -->
      </div>
      <!-- end sidebar -->


    </div><!-- end content-container -->

    <div class="clear"></div>



  </div><!-- end page-content -->

  <div class="clear"></div>



  <div id="footer-bg">
    <div id="footer" class="container_24 footer-top">
      <div id="footer_text" class="grid_20">
        <div>
          <div id="fmenu-wrapper">

            <div id="fmenu">

              <a href="//single-paar-liebe-sexualitaet-workshop.de/impressum">Impressum</a>

              <a href="//single-paar-liebe-sexualitaet-workshop.de/disclaimer">Disclaimer</a>

              <a href="//single-paar-liebe-sexualitaet-workshop.de/sitemap">Sitemap</a>



            </div>

          </div>
          © 2013 <strong>Hand on Heart e.V.</strong>			</div>
      </div>
      <div class="back-to-top">
        <a href="#top">Zurück nach oben</a>
      </div>
    </div>
  </div>

  <div class="clear"></div>

  <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?sensor=false&#038;ver=1.0'></script>
  <script type='text/javascript' src='//single-paar-liebe-sexualitaet-workshop.de/wp-content/plugins/eventON/assets/js/eventon_init_gmap.js?ver=1.0'></script>
  <script type='text/javascript'>
    /* <![CDATA[ */
    var the_ajax_script = {"ajaxurl":"\/\/single-paar-liebe-sexualitaet-workshop.de\/wp-admin\/admin-ajax.php"};
    /* ]]> */
  </script>
  <script type='text/javascript' src='//single-paar-liebe-sexualitaet-workshop.de/wp-content/plugins/eventON/assets/js/eventon_script.js?ver=1.0'></script>
  <script type='text/javascript' src='//single-paar-liebe-sexualitaet-workshop.de/wp-content/plugins/eventON/assets/js/eventon_gen_maps.js?ver=1.0'></script>
  <script type='text/javascript' src='//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/u-design/scripts/prettyPhoto/js/jquery.prettyPhoto.js?ver=3.1.5'></script>
  <script type='text/javascript' src='//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/u-design/scripts/prettyPhoto/custom_params.js?ver=3.1.5'></script>
  <script type='text/javascript' src='//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/u-design/scripts/superfish-menu/js/superfish.combined.js?ver=1.7.2'></script>
  <script type='text/javascript' src='//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/u-design/scripts/script.js?ver=1.0'></script>
  <script type='text/javascript' src='//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/u-design/scripts/responsive/selectnav/selectnav.min.js?ver=0.1'></script>
  <script type='text/javascript' src='//single-paar-liebe-sexualitaet-workshop.de/wp-content/themes/u-design/scripts/responsive/selectnav/selectnav-options.js?ver=0.1'></script>
</div><!-- end wrapper-1 -->
</body>
</html>