!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Liebst Du schon?
    %meta{:content => "de", "http-equiv" => "content-language"}
    %meta{:content => "Mikki Kitz", :name => "author"}
    %meta{:content => "Begegnungen in Liebe und Toleranz", :name => "description"}
    %meta{:content => "Liebe, Nähe, Sexualität, Workshops, Veranstaltungen, HAI, Human Awareness Institute, Hand on Heart , Verein, Partnerschaft, Paare, Singles, Selbsterfahrung, Bewußtheit, Therapie, Intimität, Netzwerk, gemeinnützig, Information, Berührung, Stan Dale, Tantra, Selbsterfahrungsworkshops, Paarworkshops, Singleworkshops, Kommunikation, Kommunikationstraining, Life Coaching, sexuelle Probleme, Beziehungsprobleme, Beziehungen, Einsamkeit, Toleranz, Lust, Frauen, Männer, Homosexualität, Bisexualität, Polyamorie, Polyamory, Sinnlichkeit, Wissen, Forschung, Achtsamkeit, Begegnungen, Beratung, Körperkontakt, Herz, Wegweiser, international, Erotik, Leidenschaft, Kontakt, Körper, Körperarbeit, Gefühle", :name => "keywords"}
    %link{:href => "/favicon-de.ico", :rel => "shortcut icon"}
    :javascript
      window["_GOOG_TRANS_EXT_VER"] = "1"
    = stylesheet_link_tag 'public_signup/de/main'
    %script{src:"//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    = javascript_include_tag "public_signup"
    = csrf_meta_tag
  %body
    #haidbcontainer
      #flash{ :'padding-left' => '60px' }
        - flash.each do |key, value|
          %div{ :class => "flash #{key}" }
            = value

      #haidbcontent
        = yield
      .clear
  = yield :javascript
