- content_for :navigation do
  = tabs(:office)

- content_for :header do
  %ul.nav.navbar-nav
    - if (count = PublicSignup.pending.count) > 0
      %li
        = link_to(office_public_signups_path) do
          %span.nav-label Pending
          %span.badge= count
    - if (count = PublicSignup.waitlisted.count) > 0
      %li
        = link_to(waitlisted_office_public_signups_path) do
          %span.nav-label Wait Listed
          %span.badge= count

= render 'layouts/layout'